{% comment %}
###############################################################################
# Browser Content Snippet
###############################################################################
{% endcomment %}

{% load cloud_browser_extras %}

{% block cloud_browser_content %}
<div id="cloud-browser-all" class="cloud-browser-defaults">
<div id="cloud-browser-containers">
<ul>
{% for cont in containers %}
  {% if cont == container %}
  <li class="cb-selected">{{ cont.name|get_file_name|truncatechars:22 }}</li>
  {% else %}
  <li>
    <a href="{% url 'cloud_browser_browser' fqrn revision cont.name %}"
       title="{{ cont.name }}">{{ cont.name|get_file_name|truncatechars:22 }}</a>
  </li>
  {% endif %}
{% endfor %}
</ul>
</div>

<div id="cloud-browser-objects">
{% if objects %}
<table id="cloud-browser-objects-table">
  <thead>
    <tr>
      <th style="width: 16px;">&nbsp;</th>
      <th>Name</th>
      <th>Content Type</th>
      <th>Content Hash</th>
      <th>Size</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in objects %}
      <tr>
        {% if obj.is_subdir %}
          {% if obj.is_nested_catalog_mountpoint %}
            <td><img src="{% cloud_browser_media_url 'img/tango/16x16/places/folder-saved-search.png' %}" /></td>
          {% else %}
            <td><img src="{% cloud_browser_media_url 'img/tango/16x16/places/folder.png' %}" /></td>
          {% endif %}
        {% else %}
            <td><img src="{% cloud_browser_media_url 'img/tango/16x16/mimetypes/text-x-generic.png' %}" /></td>
        {% endif %}
        {% if obj.is_file %}
        <td><a href="{% url 'cloud_browser_document' fqrn revision obj.path %}"
            >{{ obj.basename }}</a></td>
        {% else %}
        <td><a href="{% url 'cloud_browser_browser' fqrn revision obj.path %}"
               class="cloud-browser-document-link"
            >{{ obj.basename }}</a></td>
        {% endif %}
        <td>
            {% if obj.smart_content_type %}
                {{ obj.smart_content_type }}
            {% else %}--{% endif %}
        </td>
        <td>
            {% if obj.content_hash %}
            {{ obj.content_hash }}
                {% if obj.content_hash_type %}
                - {{ obj.content_hash_type }}
                {% endif %}
            {% else %}--{% endif %}
        </td>
        <td>
            {% if obj.is_file or obj.size > 0 %}
                {{ obj.size|filesizeformat }}
            {% else %}--{% endif %}
        </td>
        <td>
            {% if obj.last_modified %}
                {{ obj.last_modified|date:'DATETIME_FORMAT' }}
            {% else %}--{% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
        <td colspan="6">
            {% if revision_number %}
            <center>Revision {{ revision_number }}</center>
            {% endif %}
        </td>
    </tr>
  </tfoot>
</table>
{% else %}
    {% if container %}
        <div class="cloud-browser-empty" colspan="6">
            No elements found in &ldquo;{{ path }}.&rdquo;
        </div>
    {% else %}
        <div class="cloud-browser-empty" colspan="6">
            No directory selected. Please click on a directory.
        </div>
    {% endif %}
{% endif %}
</div>

    <!-- NEW ADDITION: TAGS -->
    {% if tag_list %}
    <div id="cloud-browser-cvmfs-tags">
        <table class="cloud-browser-cvmfs-table">
        {% for tag in tag_list %}
            <tr>
                <td>
                    <img src="{% cloud_browser_media_url 'img/custom/blue_tag.ico' %}" />
                </td>
                <td>
                    <a href="{% url 'cloud_browser_browser' fqrn tag.revision container.name %}">
                    {{ tag.name|truncatechars:30 }}
                    </a>
                </td>
            </tr>
        {% endfor %}

        {% if page %}
        <tfoot>
            <tr>
                <td colspan="3">
                    <a href="{% url 'cloud_browser_browser' fqrn revision container.name %}?page={{ page|decrement_page }}"> < </a>
                </td>
                <td colspan="3">
                    <a href="{% url 'cloud_browser_browser' fqrn revision container.name%}?page={{ page|increment_page }}"> > </a>
                </td>
            </tr>
        </tfoot>
        {% else %}
        &nbsp;
        {% endif %}
        </table>
    {% endif %}
    {% if statistics %}
    <table id="cloud-browser-cvmfs-statistics-table" class="cloud-browser-cvmfs-table">
        <tr><td>Regular files</td><td>{{ statistics.0 }}</td></tr>
        <tr><td>Directories</td><td>{{ statistics.1 }}</td></tr>
        <tr><td>Symlinks</td><td>{{ statistics.2 }}</td></tr>
        <tr><td>Total file size</td><td>{{ statistics.3 }} B</td></tr>
        <tr><td>Chunked files</td><td>{{ statistics.4 }}</td></tr>
        <tr><td>Chunked file size</td><td>{{ statistics.5 }} B</td></tr>
        <tr><td>Number of chunks</td><td>{{ statistics.6 }}</td></tr>
        <tr><td>Nested catalogs</td><td>{{ statistics.7 }}</td></tr>
    </table>
    {% endif %}
    </div>



</div>
{% endblock %}